.favoriteCafeCardDiv{
  margin-bottom: 1.75rem;
}

.favoriteCafeCardDiv .removefav-button{
  padding: 0.2rem;
  font-size: 0.7rem;
  position: absolute;
  bottom: 0.8rem;
  left: 1.4rem;
}

.favoriteCafeCardDiv .card{
  margin: 1.5rem;
}

@media (max-width: 992px) {
.favoriteCafeCardDiv .card-img-top {
    height: 50vw;
}

}

@media (max-width: 576px) {
.favoriteCafeCardDiv .removefav-button{
  font-size: 1.25rem;
}
}

//preventing overlap of remove cafe button and learn more button

@media (max-width: 375px) {
.cafe-details .card-text:nth-last-child(1){
  margin-bottom: 1.5rem;
}
.favoriteCafeCardDiv .removefav-button{
  bottom: 3rem;
}
#details{
  bottom: 0.2rem;
}
}
