.favoriteCafeCardDiv{
  margin-bottom: 1.75rem;
}

.favoriteCafeCardDiv .removefav-button{
  padding: 0.2rem;
  font-size: 0.7rem;
  position: absolute;
  bottom: 0.8rem;
  left: 1.4rem;
}

.favoriteCafeCardDiv .card{
  margin: 1.5rem;
}

@media (max-width: 992px) {
.favoriteCafeCardDiv .card-img-top {
    height: 50vw;
}

}

@media (max-width: 576px) {
.favoriteCafeCardDiv .removefav-button, .card .hours-text, #details{
  font-size: medium;
}
.cafe-details .card-text {
  font-size: larger;
}
.area-text{
  font-size: large;
}
.card-title{
  font-size: x-large;
}
}
