 .main-view .cafe-card-div {
  margin: 20px 0;
  padding: 0 20px;
  }

.card:hover{
  transition: ease-in;
  transition-duration : 300ms ;
  background-color: #DBD3CD;
  opacity: 80%;
  border-width: 0;
}

.search-bar{
  margin-top: 1em;
  margin-bottom: 1em;
}

