.area-description{
  font-size: 0.85rem;
  padding-bottom: 10px;
}

.main-view .area-card-col{
  margin-top: 0.25rem;
}

.area-card-col .card{
  margin-right: 1rem;
  margin-left: 1rem;
}

.areas-header h2{
  text-align: center;
  font-size: 3rem;
  margin: 1rem 0 -0.75rem 0;
}

@media (max-width: 576px) {
.area-description{
  font-size: 1.5rem;
  padding-bottom: 1.25rem;
}
}