.profileContent{
  width: 70%;
  margin: 1rem 15%;
}

.update-user-form{
  width: 70%;
  margin: 1rem 15%;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: var(--lightest-primary-color);
  padding: 1rem 2rem;
  border-radius: 5px;
  border: 0px solid var(--primary-color);
}

.delete-div{
width: 70%;
margin: 1rem 15%;
}
.delete-div h5{
  color: var(--delete-color);
}
#delete{
  padding: 0.25rem 1rem .25rem 0.5rem;
}


@media (max-width: 992px) {
.profileContent{
  width: 80%;
  margin: 1rem 9%;
  font-size: 1rem;
}

.update-user-form{
  width: 80%;
  margin: 1rem 9%;
  padding: 0.75rem 1rem;

}

.delete-div{
width: 80%;
margin: 1rem 9%;
}
}
