.simple-cafe-title{
  font-size: 0.9rem;
}
.card basic-card-img {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}

@media (max-width: 992px) {
.area-cafe-cards .basic-card-img {
    height: 50vw;
}
}