.cafe-view img{
height: 25vw;
width: 100%;
height: 25vw;
object-fit: cover;
}

.cafe-details, .cafe-view h2, .cafe-area {
  margin: 0.25rem 1rem;
}

#back{
margin: 0.5rem 0.25rem;
padding: 0.2rem 0.5rem;
background-color: var(--back-button);
border-color: var(--back-button);
}

#back:hover{
background-color: var(--back-button-hover);
border-color: var(--back-button-hover);
}
#back:focus{
box-shadow: 0 0 0 0.15rem var(--back-button-focus);
}

#favcafe{
margin: 0.5rem 0.25rem;
padding: 0.2rem 0.5rem;
background-color: var(--favorite-button);
border-color: var(--favorite-button);
}

#favcafe:hover{
background-color:var(--favorite-button-hover);
border-color: var(--favorite-button-hover);
}
#favcafe:focus{
box-shadow: 0 0 0 0.15rem var(--favorite-button-focus);
}

@media (max-width: 992px) {
.cafe-view img {
    height: 65vw;
}
.cafe-exterior, .cafe-misc {
  display: none;
}
}

@media (max-width: 768px) {

.cafe-view h2{
  font-size: 3rem;
}

.cafe-area{
  font-size: 2rem;
}

.cafe-view .cafe-details{
  font-size: 1.25rem;
}
#favcafe, #back{
  font-size: 1.5rem;
}
#back{
  margin-left: 1rem;
}
}
@media (max-width: 576px) {

.cafe-view h2{
  font-size: 3rem;
}

.cafe-area{
  font-size: 2rem;
}

.cafe-view .cafe-details{
  font-size: 1.75rem;
}
#favcafe, #back{
  font-size: 1.75rem;
  padding: 0.3rem 0.75rem;
}
#back{
  margin-left: 1.5rem;
  margin-right: 1rem;
  
}
}