.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 6px solid #ead2bf;
  border-color: #ead2bf transparent #ead2bf transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner-styles{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 25%;
  transform: translateY(-50%);
  text-align: center;
}

.spinner-styles h2 {
  color: #ead2bf;
  text-shadow: 1px 1px #000;
}
.overlay{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  z-index: 1;
}