.card-img-top {
  width: 100%;
  height: 25vw;
  object-fit: cover;
}
.card-icons{
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.area-text {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.area-text .area-icon{
  padding-right: 6px;
}
.cafe-details{
  font-size: 0.85rem;
  color: var(--secondary-font-color);
}
.cafe-details .card-text{
  margin-bottom: 5px;
}
.hours-text {
  font-size: 0.85rem;
  color: var(--secondary-font-color);
  margin-left: 23px;
  margin-bottom: 0.65rem;
}

.card-content{
  text-decoration: none;
  color: var(--primary-font-color);
}
.card-content:hover {
  text-decoration: none;
  color: var(--primary-font-color);
}

#details {
  color:var(--details-button);
  padding:0%;
  border: 0px solid transparent;
  font-size: 0.85rem;
  position: absolute;
  right:10px;
  bottom:10px;
}

@media (max-width: 992px) {
.cafe-card-div .card-img-top {
    height: 50vw;
}
.card .h5{
  font-size: 2rem;
}
.area-text{
  font-size: 1.5rem;
}
.card .hours-text, .card .cafe-details, #details{
  font-size: 1rem;
}
}

@media (max-width: 576px) {
.area-name h2 {
  font-size: 3rem;
}
.row #return {
  font-size: 1.5rem;
}
.card .h5{
  font-size: 2.25rem;
}
.area-text{
  font-size: 1.75rem;
}
.card .hours-text, .card .cafe-details, #details{
  font-size: 1.25rem;
}

.area-cafes h4{
  font-size: 2.5rem;
}

.area-cafe-cards{
  margin-bottom: 1.5rem;
}
}

