.card-icons{
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.area-text {
  display: flex;
  align-items: center;
}

.hours-text {
  display: flex;
  align-items: center;
}

.card-img-top {
max-height: 400px;
}
.card-content{
  text-decoration: none;
  color:black;
}
.card-content:hover {
  text-decoration: none;
  color:black;
}

#details {
  padding:0%;
  border: 0px solid transparent;
}