.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}
.card-icons{
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.area-text {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.area-text .area-icon{
  padding-right: 6px;
}
.cafe-details{
  font-size: 0.7em;
  color: #808080;
}
.cafe-details .card-text{
  margin-bottom: 5px;
}
.hours-text {
  font-size: 0.7em;
  color: #808080;
  margin-left: 23px;
  margin-bottom: 0.65rem;
}

.card-content{
  text-decoration: none;
  color:black;
}
.card-content:hover {
  text-decoration: none;
  color:black;
}

#details {
  color:#A99789;
  padding:0%;
  border: 0px solid transparent;
  font-size: 0.7em;
  position: absolute;
  right:10px;
  bottom:10px;
}

#details:hover{
  color:#FFF
}

@media (max-width: 992px) {
.cafe-card-div .card-img-top {
    height: 50vw;
}
}
