.search-input {
  display: flex;
  max-width: 100%;
  position: relative;
  width: 100%;
  margin-left: 20rem;
  margin-right: 3rem;

}
.search-bar-small-screen{
  display: none;
}

@media (max-width: 992px) {

.search-input {
display: none;
}
.search-bar-small-screen{
  display: initial ;
  margin: 1rem 3rem 1rem;
  padding-right: 0;
  padding-left: 0;
  width: 100%;
}
}