.main-nav{
  background-color: var(--navbar-color);
}

.search-input {
  display: flex;
  position: relative;
  margin-left: 30%;
  margin-right: 5%;
  text-align: center;
  width: 400px;
  min-width: 280px;
}

.search-input .form-control{
  height: calc(1.75rem + 2px);
}
.search-bar-small-screen{
  display: none;
}
@media (max-width: 1300px) {
.search-input {
  display: flex;
  position: relative;
  margin-left: 10%;
  margin-right: 2%;
  text-align: center;
  width: 400px;
  min-width: 280px;
}

.search-input .form-control{
  height: calc(1.75rem + 2px);
}
.search-bar-small-screen{
  display: none;
}
}

@media (max-width: 1100px) {
.search-input {
  display: flex;
  position: relative;
  margin-left: 5%;
  margin-right: 2%;
  text-align: center;
  width: 400px;
  min-width: 280px;
}

.search-input .form-control{
  height: calc(1.75rem + 2px);
}
.search-bar-small-screen{
  display: none;
}
}

@media (max-width: 992px) {

.search-input {
display: none;
}
.search-bar-small-screen{
  display: initial ;
  padding-right: 0;
  padding-left: 0;
}

.search-bar-small-screen .form-control{
  height: calc(1.75rem + 2px);
  font-size: 1.3rem;
  width: 60%;
  margin: 1rem auto 0;
  text-align: center;
}
}

@media (max-width: 768px) {

.search-input {
display: none;
}
.search-bar-small-screen{
  display: initial ;
  padding-right: 0;
  padding-left: 0;
}

.search-bar-small-screen .form-control{
  height: calc(2rem + 2px);
  font-size: 1.5rem;
  width: 85%;
}

.main-nav{
line-height: 2.25;
}
.navbar-brand {
font-size: 1.75rem;
}

.navbar-toggler-icon{
  width: 2rem;
  height: 2rem;
}

.main-nav .btn {
  font-size: 1.25rem;
}
}

