.area-name h2{
  margin: 0.5rem 1rem 0.25rem;
  font-size: 2.5rem;
}
.area-description{
  margin: 0 1rem;
  font-size: 1.5rem;
}

.area-cafes h4{
  font-size: 1.85rem;
  margin: 1rem;
}

#return{
margin: 0.5rem 1rem;
padding: 0.2rem 0.5rem;
font-size: 1.5rem;
background-color: var(--back-button);
border-color: var(--back-button);
}

#return:hover{
background-color: var(--back-button-hover);
border-color: var(--back-button-hover);
}
#return:focus{
box-shadow: 0 0 0 0.15rem var(--back-button-focus);
}

@media (max-width: 768px) {
#return{
  font-size: 1.5rem;
}
}
@media (max-width: 576px) {
#return{
  font-size: 1.75rem;
  padding: 0.3rem 0.75rem;
}
}